* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none !important;
}

body {
	background-color: #263238;
}

ul {
	list-style: none;
	padding-left: unset;
}

.coinlist-image {
	width: 50px;
}

.coinlist-item {
	display: flex;
	transition: all 0.2s ease-in;
}

.coinsummary {
	border-color: white !important;
	border-style: outset !important;
}

.coin-data-category {
	font-size: 10px;
}

.delete-icon {
	display: none;
	position: absolute;
	right: 6px;
	z-index: 99;
}

.coin:hover .delete-icon {
	display: block;
}

.coin:hover .coinlist-item {
	padding-right: 30px;
}
